header {
  text-align: center;
}

article {
  background-color: blue;
  width 100%
  height: 500px;
}

#high {
  color: red;
}

#medium {
  color: orange;
}

#low {
  color: gray;
}

ul {
  list-style-type:none;
}

section {
  width: 100%;
  text-align: center;
  background-color: blue;
}
