header {
  text-align: center;
  width; 50%;
}

article {
  background-color: blue;
  width 100%
  height: 500px;
}

.High {
  color: red;
}

.Medium {
  color: orange;
}

.Low {
  color: gray;
}

ul {
  list-style-type:none;
}

section {
  width: 100%;
  text-align: center;
  background-color: blue;
}
