header {
  text-align: center;
}

article {
  background-color: blue;
  margin-left: 25%;
  margin-right: 25%;
  height: 500px;
}

.High {
  color: red;
}

.Medium {
  color: orange;
}

.Low {
  color: gray;
}

ul {
  list-style-type:none;
}

section {
  margin: 25%;
  text-align: center;
  background-color: blue;
}
