#header {
  background-color:#3DE4B4;
  color:#444746;
  text-align:center;
  padding:5px 
  }
      
#nav {
  line-height:30px;
  background-color:#FE6426;
  color:#444746;
  height:600px;
  width:100px;
  float:left;
  padding:5px; 
  }
      
#section {
  width:350px;
  color:#444746;
  float:left;
  padding:10px;
  }

#footer {
  background-color:#3DE4B4;
  color:#444746;
  clear:both;
  text-align:center;
  padding:5px; 
  }

.done {
  text-decoration: line-through;
  }

.high {
  color: red;
  }
  
.medium {
  color: orange;
  }
  
.low {
  color: gray;
  }
  
