done h1 {
  background-color: black;
  color: #00FFFF;
  text-decoration: line-through;
  }

high h1 {
  background-color: red;
  color: white;
  }
  
medium h1 {
  background-color: orange;
  color: #A52A2A;
  }
  
low h1 {
  background-color: gray;
  color: black;
  }
