header {
  position: fixed;
  background-color: blue;
  color: white;
  top: 0px;
  left: 0px;
  height:100px;
  width: 100%;
  text-align: center;
}

nav {
  background-color: gray;
  margin-top: 100px;
  margin-bottom: 0px;
  left: 0px;
  height: 25px;
  width: 100%;
}

nav li {
  display: inline;
}

sideline {
  line-height:30px;
  background-color:#FE6426;
  color:#444746;
  height:600px;
  width:25%;
  float:left;
  padding:5px; 
}
section {
  background-color: blue;
  float: left;
  width: 37.5%;
  height: 250px;
}

aside {
  background-color: blue;
  float: right;
  width: 37.5%;
  height: 500px;
}

aside.img {
  magin: auto;
}

article {
  background-color: blue;
  float: left;
  width: 50%;
  height: 250;
}

footer {
  background-color: gray;
  color: white;
  width: 100%;
  text-align: center;
}
