header {
  background-color: blue;
  margin: auto;
  position: static;
  height: 100px;
  width: 100%;
  text-align: center;
}

nav {
  background: gray;
  position: relative;
  height: 60px;
  width: 100%;
}

section#left {
  padding: 50px;
  float: left;
  width: 50%;
}

section#right {
  padding: 50px;
  float: right;
  width: 50%;
}

footer {
  background-color: blue;
  height: 25px;
  width: 100%;
  text-align: center;
}





