header {
  background-color: blue;
  position: static;
  height: 100px;
  width: 100%;
  text-align: center;
}

nav {
  background: gray;
  position: relative;
  height: 50px;
  width: 100%;
}

#left {
  float: left;
  margin: 20px;
}

#right {
  float: right;
  margin: -20px;
}

section#left {
  position: relative;
  float: left;
  left: 100px;
  width: 50%;
}

section#right {
  position: relative;
  float: right;
  right: 100px;
  width: 50%;
}

title1 {
  text-align: center;
}

footer {
  background-color: blue;
  position: relative;
  width: 100%;
  text-align: center;
  
}



